body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #61fbfb;
}
*{
  font-family:"Inter",system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin:50px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;


.text-up{
  text-transform: uppercase;
}



h3,p{
  margin: 0;
}

img{
  margin-right: 15px;
}
}
.headerLeft {
  display: flex;
  align-items: center;
}
.headerRight {
  display: flex;

}
.distance{
  margin-right:30px ;
}
.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.distance-pad{
  padding:40px ;
}
.content {
  h1{
    margin-bottom: 40px;
  }
}
.card {
  border: 1px solid #F3F3F3;
  padding: 20px;
  width: 210px;
  border-radius:40px ;
  font-weight: 400;
  font-size:14px;
  height: 260px;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);

  }
  .favorite{
    position: absolute;
    cursor: pointer;
  }
  span{
    font-size: 13px;
    opacity: 0.5;
    text-transform:uppercase;
  }
  b{
    font-size:12px ;
  }
}
.di p {

  margin: 0;
}
.card-bottom{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top:10px ;
}
.card-bottom-plus{
  display:flex;
  flex-direction: column;
}
.button{

  width: 32px;
  height: 32px;


  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}
.stroka{
  display: flex;

}
.opacity{
  opacity: 0.5;
}
.search-block{
  border-radius: 10px;
  border: 1px solid #F3F3F3;
  padding: 0 15px;
  input{
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.mb-40{
  margin-bottom: 40px;
}
.justify-between{
  justify-content: space-between;
}

.drawer{
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0px;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction:column ;

  h2{
    margin: 0;
  }
  .items{
    overflow: auto;
  }
}
.items{
  flex: 1;
}
.cartItem{

  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding:20px;

  .cartItemImg{
    height: 70px;
    width: 70px;
    background-size:contain ;
    background-position:0 -3px ;
    background-repeat: no-repeat ;
    margin-right: 20px;
  }
  p{
    font-size: 16px;
    margin: 0;
  }
  b{
    font-size: 14px;
  }

  .removeBtn{
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.15s ease-in-out;

    &:hover{
      opacity:1;
    }
  }
}
.overlay{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.mb-5{
  margin-bottom: 5px;
}
.mr-20{
  margin-right: 20px;
}

.flex{
  flex: 1;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-20{
  margin-bottom: 20px;
}


.cartTotalBlock{
  ul {
    display: block;
    margin-bottom: 40px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }
  button{
    width: 100%;

    height: 55px;
    left: 895px;

    cursor: pointer;
    transition: background 0.2s ease-in-out;
    background: #9DD558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;

    &:hover{
      background: lighten(#9dd558,5%);
    }
    &:active{
      background: darken(#9dd558,5%);
    }
  }
  .greenButton {

      &:hover{
        img{
          transform: translateX(5px);
        }
      }

      img {
        position: relative;
        left: 70px;
        bot: 20px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }

.greenButton {

    width: 100%;

    height: 55px;
    left: 895px;

    cursor: pointer;
    transition: background 0.2s ease-in-out;
    background: #9DD558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;

    &:hover{
      background: lighten(#9dd558,5%);
    }
    &:active{
      background: darken(#9dd558,5%);
    }
  }
.cu-p{
  cursor: pointer;
}

